/* ========== VARIABLES ========== */
:root {
    --color-gold: #e3ca64;
    --color-dark-gold: #b2993d;
    --color-red: #CB1B22;
    --color-white: #fff;
    --color-black: #090909;
    --color-light-gray1: #dedede;
    --color-light-gray2: #ddd;
    --color-light-gray3: #ccc;
    --color-dark-gray1: #777;
    --color-dark-gray2: #666;

    --font-heading: 'Georgia', Times, Times New Roman, serif;
    --font-default: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

body {
    font-family: var(--font-default);
    min-height: 100vh;
    padding-top: 5rem;
    line-height: 1.6;
    background-color: var(--color-gold);
    background: var(--color-gold) url("../images/bg1.jpg") repeat-x;
    background-position: bottom;
    color: var(--color-black);
    position: relative;
    font-size: 1.6rem;
}

/* ========== HEADER ========== */
h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

h3 {
    height: 4rem;
    background: var(--color-black);
    font-size: 2rem;
    color: var(--color-white);
    border-radius: .3rem;
    display: flex;
    align-items: center;
}

h3::before {
    /*content: url("../images/heading-deco.png");*/
    content: '▲';
    display: inline-block;
    margin-right: 1rem;
    transform: rotate(90deg);
    color: var(--color-red);
}

section {
    margin-bottom: 3rem;
}

/* ========== MAIN CONTENTS ========== */
.container {
    width: calc(100% - 6rem);
    max-width: 800px;
    margin: 3rem auto 12rem;
    padding: 5rem;
    background: url("../images/bg2.jpg") repeat;
    border: 3px solid var(--color-dark-gold);
    border-radius: .8rem;
    z-index: 10;
}

.current-word__display {
    letter-spacing: .5rem;
}

.message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.guessed--letter {
    text-transform: uppercase;
    display: inline-block;
}

.guessed--letter:not(:last-of-type) {
    margin-right: 1rem;
}


/* ========== FOOTER ========== */
footer {
    width: 100%;
    height: 233px;
    position: fixed;
    bottom: 0;
    /*background: url("../images/bg1.jpg") repeat-x;*/
    color: var(--color-white);
}



@media screen and (min-width: 641px) {
    /* width: 641px to 768px */
    html {
        font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
    }
}